
/*帖子封面*/
.post_cover {
	width: 100%;
	height: 56.2vw;
	position: relative;
	pointer-events: none;
}

.post_cover img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	z-index: 0;
}

.post_cover .post_cover_mask {
	width: 100%;
	height: 100%;
	position: absolute; 
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
	z-index: 0;
}

.post_cover .post_text {
	width: 90%;
	position: absolute;
	color: #ffffff;
	margin: 0 auto;
	z-index: 2;
	left: 5vw;
	bottom: 5rem;
}

.post_cover .post_text h1 {
	font-size: 2.5rem;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 10px;
}

.post_cover .post_text div .post-tags-list-item {
	background-color: #333333;
}

.post_cover .post_text div .post-tags-list-item a {
	color: #ffffff;
	pointer-events: auto;
}

.stuff {
	margin-bottom: 30px;
}


/*更新时间*/
.updated {
	width: 100%;
	height: 50px;
	background-color: #f8f8f8;
	border-radius: 10px;
	line-height: 50px;
}

.updated div {
	width: 10px;
	height: 50px;
	background-color: #333333;
	border-radius: 10px 0px 0px 10px;
	float: left;
	margin-right: 10px;
}

.updated span {
	font-size: 15px;
	color: #282828;
}


/*代码块样式*/
.highlight{
	position: relative;
	border-radius: 12px;
}

.btn-copy {
	display: inline-block;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.0);
    border-style: none;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    padding: 2px 6px;
    position: absolute;
    right: 0.5rem;
    top: 0.7rem;
    width: 1.5rem;
    height: 1.5rem;
}

.highlight:hover .btn-copy{
	display: block;
}

figcaption div {
	width: 0.8rem;
	height: 0.8rem;
	background-color: #FC625D;
	border-radius: 1rem;
    margin-right: 10px;
    display: inline-block;
}

figcaption .r2 {
	background-color: #FDBC40;
}

figcaption .r3 {
	background-color: #35CD4B;
}

